
body {
    background-color: #000000;
    color: #993399;

    
}


.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #993399;
}



.button{


}





h3 {
    color: #ff1cc0;
color: #b131fa;
color: #4a0074;
color: #1c3aff
}

