
body {
    background-color: #000000;
    color: #993399;   
}
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #993399;
}
.button{
  height: 40px;
  width: 60px;
  background-color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  color: #000000;
  border-radius: 10px;
  border: none;
}
.paragrafo {
    font-family: calibri;
    font-size: 20px;
}

